body{
    background: #000;
}

.main{
    width: 74%;
    height: 58vh;
    background-color: aliceblue;
    margin: auto;
    padding: 20px;
    margin-top: 20vh;
}
 H1{
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
 }

 .main-para{
    text-align: center;
 }
.para{
    width: 20vw;
    display: inline-block;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
    background-color: rgba(228, 229, 229, 0.862); 

}
.overlay{
    position: relative;
    background-color: cadetblue;
    color: #f9f8f8;
    width: 120px;
    padding: 10px;
    /* top: 0px; */
    right: 60px;
    font-size: larger;
    letter-spacing: 8px;
}